
@{
    ViewBag.Title = "DetailIndex";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Registration.js"></script>


<h2><b>DETAILS</b></h2><br/><br/>

<input type="hidden" value="@ViewBag.Id" id="HdnName" />

<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">

                <label><b>NAME :</b></label>
                <span id="txtName"></span>&nbsp;&nbsp;

                <Lable><b>MOBILE NO :</b></Lable>
                <span id="txtmobile_no"></span>&nbsp;&nbsp;

            </div>

            <div class="col-sm-6">

                <Lable><b>CITY :</b></Lable>
                <span id="city"></span>&nbsp;&nbsp;

                <Lable><b>ADDRESS :</b></Lable>
                <span id="txtAddress"></span>&nbsp;&nbsp;

            </div>

        </div>

    </div>

</div>






